<div class="pokemon">
  <div class="pokemon__list">
    <div class="pokemon__list__item" *ngFor="let pokemon of pokemonList">
      {{pokemon.name}}
    </div>

    <div class="pokemon__list__pagination">
      Paginacja
      <div class="pagination__button" (click)="loadPreviousPage()" [ngClass]="{'pagination__button--disabled': previousButtonDisabled()}">{{'Previous'}}</div>
      <div class="pagination__button" (click)="loadNextPage()" [ngClass]="{'pagination__button--disabled': nextButtonDisabled()}">{{'Next'}}</div>
    </div>
  </div>

  <div class="pokemon__skeleton" *ngIf="pokemonList.length === 0">
    skeleton
  </div>
</div>
