$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 16px;

$primary: #00A2ff;
$secondary: #158EAC;
$ternary: #36405E;
$text-primary: #ffffff;

$border: 5px;

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;

$breakpoint-small: 480px;
